@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --blue:#2980b9;
  --black:#333;
  --white:#ddd;
  --light-color:#777;
  --light-bg:#eee;
  --box-shadow:0 5px 10px rgba(0,0,0,.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: none;
  transition: all .2s linear;
}

h3{
  text-transform: none;
}

html::-webkit-scrollbar{
  width:10px;
}

html::-webkit-scrollbar-track{
  background: var(--blue);
}

html::-webkit-scrollbar-thumb{
  background: var(--white);
  border-radius: 50px;
}

.title{
  font-size: 25px;
  color:var(--blue);
  margin-bottom: 15px;
}

.btn{
  margin-top: 10px;
  display: inline-block;
  padding:7px 20px;
  border-radius: 5px;
  background: var(--blue);
  color:var(--white);
  font-size: 17px;
  box-shadow: var(--box-shadow);
}

.btn:hover{
  background: var(--black);
}

.container{
  padding:100px 9%;
  background: linear-gradient(45deg, deeppink, var(--blue));
  display: flex;
}

.container .profile{
  flex:1 1 400px;
  background: var(--white);
  padding:20px 30px;
  text-align: center;
  position: sticky;
  top:20px; left:0;
  border-right:2px solid var(--black);
  align-self: flex-start;
}

.container .profile img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border:2px solid var(--black);
  object-fit: cover;
  margin-bottom: 10px;
}

.container .profile h3{
  color:var(--black);
  font-size: 20px;
}

.container .profile p{
  color:var(--blue);
  padding:5px 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.container .profile .share{
  margin:10px 0;
}

.container .profile .share a{
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  color:var(--black);
  background: var(--light-bg);
}

.container .profile .share a:hover{
  background: var(--blue);
  color:var(--white);
  box-shadow: var(--box-shadow);
}

.container .information{
  flex:1 1 1000px;
  background: var(--white);
  padding:20px 30px;
}

.container .information .about{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .information .about p{
  font-size: 17px;
  line-height: 2;
  padding-bottom: 10px;
  color:var(--light-color);
  text-transform: none;
}

.container .information .about .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container .information .about .box-container .box{
  flex:1 1 250px;
}

.container .information .about .box-container .box h3{
  font-size: 15px;
  padding:10px 0;
  color:var(--black);
}

.container .information .about .box-container .box h3 span{
  color:var(--light-color);
}

.container .information .experience{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .information .experience .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container .information .experience .box-container .box{
  flex:1 1 250px;
  padding:20px;
  border-radius: 5px;
  background: var(--light-bg);
}

.container .information .experience .box-container .box span{
  color:var(--blue);
  font-size: 15px;
}

.container .information .experience .box-container .box h3{
  font-size: 15px;
  padding:10px 0;
  color:var(--black);
}

.container .information .experience .box-container .box p{
  color:var(--light-color);
  line-height: 2;
  font-size: 13px;
  text-transform: none;
}

.container .information .research{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .information .research .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container .information .research .box-container .box{
  flex:1 1 250px;
  padding:20px;
  border-radius: 5px;
  background: var(--light-bg);
}

.container .information .research .box-container .box span{
  color:var(--blue);
  font-size: 15px;
}

.container .information .research .box-container .box h3{
  font-size: 15px;
  padding:10px 0;
  color:var(--black);
}

.container .information .research .box-container .box p{
  color:var(--light-color);
  line-height: 2;
  font-size: 13px;
  text-transform: none;
}

.container .information .publications{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .information .publications .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container .information .publications .box-container .box{
  flex:1 1 250px;
  padding:20px;
  border-radius: 5px;
  background: var(--light-bg);
}

.container .information .publications .box-container .box span{
  color:var(--blue);
  font-size: 15px;
}

.container .information .publications .box-container .box h3{
  font-size: 15px;
  padding:10px 0;
  color:var(--black);
}

.container .information .publications .box-container .box p{
  color:var(--light-color);
  line-height: 2;
  font-size: 13px;
  text-transform: none;
}

.container .information .publications .box-container .publication-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background: var(--light-bg);
}

.container .information .publications .box-container .publication-box .teaser-img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.container .information .publications .box-container .publication-box .publication-content {
  flex: 1;
}

.container .information .publications .box-container .publication-box .publication-content h3 {
  font-size: 15px;
  padding: 0 0;
  color: var(--black);
}

.container .information .publications .box-container .publication-box .publication-content span {
  color: var(--blue);
  font-size: 15px;
}

.container .information .publications .box-container .publication-box .publication-content p {
  color: var(--light-color);
  line-height: 2;
  font-size: 13px;
  text-transform: none;
}

@media (max-width: 768px) {
  .container .information .publications .box-container .publication-box {
      flex-direction: column;
  }

  .container .information .publications .box-container .publication-box .teaser-img {
      width: 100%;
      max-width: 300px;
  }
}

.container .information .awards{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .information .awards{
  margin:20px 0;
}

.container .information .awards .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container .information .awards .box-container .box{
  padding:20px;
  border-radius: 5px;
  flex:1 1 350px;
  background: var(--light-bg);
}

.container .information .awards .box-container .box span{
  color:var(--blue);
  font-size: 15px;
}

.container .information .awards .box-container .box h3{
  color:var(--black);
  font-size: 17px;
  padding:5px 0;
}

.container .information .awards .box-container .box p{
  color:var(--light-color);
  line-height: 2;
  font-size: 13px;
}

.container .information .contact .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container .information .contact{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .information .contact .box-container .box{
  flex: 1 1 200px;
  display: flex;
  align-self: flex-start;
  gap:10px;
}

.container .information .contact .box-container .box i{
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 15px;
  border-radius: 50%;
  background: var(--blue);
  color:var(--white);
  text-align: center;
}

.container .information .contact .box-container .box h3{
  font-size: 17px;
  color:var(--black);
  padding-bottom: 5px;
}

.container .information .contact .box-container .box p{
  font-size: 14px;
  color:var(--light-color);
  line-height: 2;
}

@media (max-width:1200px) {
  
  .container{
    flex-flow: column;
    padding:20px;
    justify-content: center;
  }

  .container .profile{
    position: static;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding:20px;
    border-right: none;
    margin:0 auto;
    margin-bottom: 15px;
  }

  .container .information{
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding:20px;
  }

}

@media (max-width:450px){

  .container .profile{
    width: 100%;
  }

  .container .profile .btn{
    width: 100%;
  }

  .container .information .about p{
    font-size: 12px;
  }

  .container .information .awards .box-container .box p{
    font-size: 12px;
  }

}